.Login_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 100%;
}
.Login_component_wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 65vh;
    width: 70%;
    margin-top: 10vh;
    border-radius: 4vh;
}
.Login_component_wrapper .login{
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 40%;
    height: 100%;
    margin-top: 5vh;
}
.login h4{
    color: #141517;
    font-weight: 500;
    margin: 0;
    padding: 0;
    margin-right: auto;
    font-size: 3vh;
    font-family: "Poppins", sans-serif;
}
.login h4 span{ color:#3456C5 ;}
.Login_input_feild{
    width: 94%;
    border: none;
    color: #454545;
    padding: 3vh 3vh 1vh 1vh;
    outline: none;
    font-size: 2.2vh;
    background-color: white !important;
    font-family: "Poppins", sans-serif;
    border-bottom: 1px solid #69C1FF;
}

.Login_input_feild:focus{
    border-bottom: 2px solid #69C1FF;
}
.gender_and_role{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.gender_and_role h4{
    font-size: 2vh;

}
.gender_and_role h4 select{
    margin-left: 1vh;
    border: none;
    font-size: 2vh;
    outline: none;
    color: #87878A;
}
.login input::file-selector-button {
    border: none;
    padding: 1.5vh 2vh;
    border-radius: 1vh;
    background-color: #BAC7F6 ;
}
.login .login_submit_button{
    color: white;
    width: 100%;
    height: fit-content;
    cursor: pointer;
    border-radius: 1vh;
    font-family: "Poppins", sans-serif;
    border: 2px solid #1A4CB8;
    background-color: #1951E0;
    margin-top: 2vh;
}
.login .login_submit_button:hover{
    background-color: #1951e0e2;
}

.login p{
    width: 70%;
    font-family: "Poppins", sans-serif;
    text-align: center;
    color:#5B5B5C;
    font-size: 2vh;
}
.login p a{
    color: #3456C5;
    text-decoration: none;
}