<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <title>Display Employees</title>
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/displayAll.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<div th:class="container">
  <div th:class="side_panel">
    <div th:class="icons">
      <a th:class="icon_wrapper" href="/">
        <img th:class="icon" src="/images/Add.png" alt="add Employee"/>
        <p>Add Employee</p>
      </a>
      <a th:class="icon_wrapper" href="/display/all">
        <img th:class="icon" src="/images/table.png" alt="view Employies"/>
        <p>View Table</p>
      </a>
    </div>

  </div>
  <div th:class="main_content">
    <div th:class="search_bar">
      <div>
        <h2 th:class="sub_heading" th:text="'Employees (' + ${employeeListSize} + ')'"></h2>
        <p>All the employees of the company are listed here</p>
        <form
                method="post"
                th:action="@{/display-by-id}"
        >
          <div th:class="seach_input_container">
            <input th:class="search_input_field" type="text" placeholder="search" name="search" id="search">
            <button type="submit" id="search_icon" class="fa-solid fa-magnifying-glass"></button>
          </div>
        </form>

      </div>
      <a href="/" class="add_new_emp"><i id="plus_icon" class="fa-solid fa-plus"></i>Add New Employee</a>
    </div>

    <div th:class="display_card_wrapper">

      <div th:class="Card_wrapper" th:each="employee : ${employeeList}">
        <div th:class="picture_wrapper" th:style="'background-color:' + ${employee.color}">
              <img th:class="profile_picture"  th:src="'data:image/jpeg;charset=utf-8;base64,' + *{employee.image}" />
        </div>
        <div th:class="firstname_LastName">
          <h4 th:class="firstname" th:text="*{employee.firstName}">Sridhar</h4>
          <h4 th:class="lastname" th:text="*{employee.lastName}">Arivu</h4>
        </div>
        <p th:class="role" th:text="*{employee.role}">Front-end developer</p>
        <div th:class="emp_details">
          <div th:class="row">
            <span th:class="key" >Emp No</span>
            <p th:class="value" th:text="': ' + *{employee.employeeID}">: 122672</p>
          </div>
          <div th:class="row">
            <span th:class="key">Phone</span>
            <p th:class="value" th:text="': ' + *{employee.phone}">: 8946018164</p>
          </div>
          <div th:class="row">
            <span th:class="key">Email</span>
            <p th:class="value" th:text="': ' + *{employee.email}">: sridhar@gmail.com</p>
          </div>

          <a class="viewDetails_btn" th:href="@{/display/{id}(id=*{employee.employeeID})}" >View Details</a>
        </div>

      </div>

    </div>

  </div>
</div>
</body>
</html>