body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    background-image:url("/images/Bg-Image.png");
    height: 100vh;
    font-family: "Poppins", sans-serif;
}
p{
    margin: 0;
    padding: 0;
}
.divide_line{
    height: 2px;
    width: 50%;
    margin-bottom: 2vh;
    background-color: #AFAFAF;
}
.buttons_div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    height: 8vh;
    flex-direction: row;
    margin-top: 5vh;
}
.display_product_btn{
    border: 2px solid #B9B8D5;
    padding: 2vh 4vh;
    background-color: #F2F2F2;
    border-radius:3.5vh;
    color: #2A2A2A;
    font-size: 2.5vh;
    font-weight: 600;
    transition: 0.3s;
    text-decoration:none;
    cursor: pointer;
}
.display_product_btn:hover{
    padding: 1.8vh 3.8vh;
    font-size: 2.4vh;
}
.add_product_btn{
    border: none;
    padding: 2vh 5vh;
    background-color: #3A46B4;
    border-radius:3.5vh;
    color: #FCFEFA;
    text-decoration:none;
    font-size: 2.5vh;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}
.add_product_btn:hover{
    padding: 1.8vh 4.8vh;
    font-size: 2.4vh;
}