.prescription-form {
    background-color: #f9f9f9;
    padding: 2vh;
    border-radius: 1.3vh;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: fit-content;
    position: relative;
    height: fit-content;
    margin-left:-30vh;
  }
  .PrescribeForm_close_icon{
    position: absolute;
    right: 1.5vh;
    top: 1.5vh;
    cursor: pointer;
    font-size: 3.4vh;
  }
  .medicine-row {
    display: flex;
    align-items: center;
    gap: 1.3vh;
    margin-bottom: 1.3vh;
  }
  
  .medicine-row input {
    flex: 1;
    padding: 1.3vh;
    border-radius: 0.8vh;
    border: 1px solid #ccc;
  }
  .medicine-row input[type='number'] {
    flex: 1;
    padding: 1.3vh;
    width: 15vh;
    border-radius: 0.8vh;
    border: 1px solid #ccc;
  }
  .medicine-row input[type='tel'] {
    flex: 1;
    padding: 1.3vh;
    width: 15vh;
    border-radius: 0.8vh;
    border: 1px solid #ccc;
  }
  
  
  button {
    padding: 1.3vh 2vh;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-button {
    background-color: #4caf50;
    color: white;
    margin-top: 1.3vh;
    margin-right: 4vh;
  }
  
  .submit-button {
    background-color: #2196f3;
    color: white;
    margin-top: 2.4vh;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  button:active {
    transform: scale(0.98);
  }
  