<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
  <link th:href="@{/css/home.css}" rel="stylesheet" />
</head>
<body>
  <h1>Welcome !</h1>
  <div class="divide_line"></div>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo,obcaecati nulla </p>
  <p>  vitae, maxime veniam id non quod sunt iusto fugiat sapiente consequatur </p>
  <p> velit nostrum ex, consectetur eligendi dolor architecto! Aut?</p>

  <div class="buttons_div">
    <a href="/products/view" class="display_product_btn">Display Product</a>
    <a href="/products/add" class="add_product_btn">Add Product</a>
  </div>
</body>
</html>